// Colours and sizes etc
$red: #ED1C24
$pink: #EB6D98
$jaggies: 40px
$pinkspacing: 0.07em

// Theme colours
$main-festival: $pink
$family-space: #F4B5CC
$films: #F9D9E5
$theatre: #FFFFFF
$conference: #FFFFFF

/* border-serrated - a zig zag triangle border with linear gradient */
=border-top-serrated($size, $color-outer)
  &
    position: relative
    overflow: auto
    padding-top: $size
  &:before
    top: 0px
    background-position: left top
    background: linear-gradient(-135deg, $color-outer $size / 2, transparent 0), linear-gradient(135deg, $color-outer $size / 2, transparent 0)
    +border-serrated-helper($size, $color-outer)
=border-bottom-serrated($size, $color-outer)
  &
    position: relative
    overflow: auto
    padding-bottom: $size
  &:after
    bottom: 0px
    background-position: left bottom
    background: linear-gradient(-45deg, $color-outer $size / 2, transparent 0), linear-gradient(45deg, $color-outer $size / 2, transparent 0)
    +border-serrated-helper($size, $color-outer)
=border-serrated-helper($size, $color-outer)
  content: " "
  display: block
  position: absolute
  left: 0px
  width: 100%
  height: $size
  background-repeat: repeat-x
  background-size: $size $size

// Scalloped Borders
=scalloped-border($color)
  // h/t Lea Verou http://lea.verou.me/2011/03/beveled-corners-negative-border-radius-with-css3-gradients/
  background: linear-gradient(135deg, transparent 10px, $color 0) top left, linear-gradient(225deg, transparent 10px, $color 0) top right, linear-gradient(315deg, transparent 10px, $color 0) bottom right, linear-gradient(45deg,  transparent 10px, $color 0) bottom left
  background-size: 52% 52%
  background-repeat: no-repeat
  background-image: radial-gradient(circle at 0 0, transparent 8px, $color 9px), radial-gradient(circle at 100% 0, transparent 8px, $color 9px), radial-gradient(circle at 100% 100%, transparent 8px, $color 9px), radial-gradient(circle at 0 100%, transparent 8px, $color 9px)

// Matching font from LGBT history month website
h1, h2, h3, h4, h5
  text-transform: uppercase
  font-weight: bold
  color: $pink

.index 
  h1, h2, h3, h4, h5
    letter-spacing: $pinkspacing

// Various fancy borders for h3/h2 elements
.longborder
  background: url('/images/icons/longborder.svg')
  background-repeat: no-repeat
  background-position: 50%
  margin-bottom: 1em
  padding: 8px 0


.chevronborder
  // SVG is playing up, not sure why
  background: url('/images/icons/chevronborder.png')
  background-size: 100%
  background-repeat: no-repeat
  background-position: 50%
  margin-bottom: 1em
  padding: 8px 0

h3.scallopedborder
  // background-image: url('/images/icons/scallopedborder.png')
  color: white
  margin-bottom: 1em
  background: $pink

.button h3
  color: white

=underline-section
  border-width: 0 0 1px 0
  border-color: #ccc
  border-style: solid

// All pink sections -- inverted
section.pink
  background-color: $pink
  h1, h2, h3, h4, h5
    color: white
  a, a:visited, a:link
    color: black
    text-decoration: underline
  a:hover
    color: white
  a.button
    background-color: white
    color: black
    text-decoration: none
    &:hover
      background-color: scale-color(white, $lightness: -14%)
      color: black

// Branding
section#branding
  padding: 3.5em 0 0.25em 0
  @media #{$small-only}
    padding: 5em 0 2.25em
  text-align: center
  background-color: $pink
  img.mainlogo
    margin-bottom: 0.6em
  img.strapline
    margin-bottom: 0.5em
  img
    display: block
    margin: auto
  ul
    margin: 0
    padding: 0
    line-height: 1
  li.stickylogo
    display: none

// Branding when the screen is scrolled down
.sticky section#branding
  position: fixed
  width: 100%
  z-index: 1000
  padding: 0em 0 0.75em
  ul
    display: inline-block
    li
      margin-top: 1.6em
      vertical-align: top
    li.stickylogo
      width: 230px
      background: transparent
      margin: 0
      display: inline-block
    .navleft
      margin-left: 33px
    a
      padding: 0

  h1 img
    display: none
.sticky.index section#branding
  padding: 2em 0 0.75em


// Pink triangles at the top
#topborder
  +border-top-serrated($jaggies, $pink)  

// Navigation
nav#primary
  margin-top: 1em
  li
    list-style-type: none
    display: inline-block
    margin: 1em 0.25em
    padding: 0.5em 1em
    background: white
    +scalloped-border(white)
    a
      text-transform: uppercase
      padding: 0.25em
      color: black
      text-decoration: none
      font-size: 130%
  li:hover
    background: white
    +scalloped-border(black)
    a
      color: white
 
// Padding on copy sections
section#main section
  padding-top: 2em
  padding-bottom: 1em

// Footer
section#footer
  padding: 3em 0 2em
  background-color: $pink
  text-transform: uppercase
  color: white
  +border-bottom-serrated($jaggies, black)
  h6
    color: white
  .lgbthm
    font-size: 120%
  p
    font-size: 70%
  ul
    margin: 0
  li
    text-align: center
    list-style-type: none
    display: inline-block
    margin-right: 2em
    margin: 0 0 1em 0
    padding: 0
  hr
    border-color: $pink
    border-width: 1px
    border-style: solid
    margin: 3em 0
  .partners li
    a
      line-height: 150px


section#credits
  padding-top: 1em
  color: $pink
  letter-spacing: $pinkspacing
  background-color: black
  text-align: center
  text-transform: uppercase
  p
    font-size: 90%
  a
    font-weight: bold
    text-decoration: none
  h6, a, hr
    color: $pink
  hr
    border-width: 2px 0
    border-color: $pink
    height: 8px
    width: 40%
    margin: 0 auto 1em

////////////////////////////////////
// PAGE-SPECIFIC RULES START HERE //
////////////////////////////////////

$deselected: #C4C4C4

ul.schedule
  clear: left
  li
    display: inline-block
    list-style-type: none
    padding: .25em .5em
    margin: 0 .5em .5em 0
    border: 3px solid $pink
    &.main-festival, &.disabled:hover
      background-color: $main-festival
    &.conference
      background-color: $conference
      border: 3px solid black
    &.family-space
      background-color: $family-space
    &.films
      background-color: $films
    &.theatre
      background-color: $theatre
    &.disabled, &:hover
      background-color: transparent
      border-color: $deselected
      color: $deselected
  @media #{$small-only}
    li
      display: block     
  h3.time
    font-size: 80%
  @media #{$medium-up} 
    h3.time
      float: left
      width: 55px
    .timeblock
      margin-left: 65px
      padding-left: 10px
      border-left: 1px solid #bbb

ul.key
  text-align: center
  li
    border: 3px solid $pink
    display: inline-block
  @media #{$small-only}
    li
      display: block
      text-align: left 

form.schedule-type 
  label, input
    font-size: 125%

// Blogs
article
  figure
    border: 1px solid #ccc
    padding: 5px
    display: inline-block
  figcaption
    font-style: italic
    text-align: center
    padding-top: 0.5em
  h3
    color: $body-font-color
    +underline-section
    padding: 0.25em 0 0.2em
    border-top-width: 1px
  .meta 
    h3
      text-align: center
    p
      font-size: 90%
      font-style: italic
      color: #555
    p.photo
      text-align: center
    img
      border: 1px solid #ccc
      padding: 2px
  .resources li
    list-style-type: none
  .social-likes
    margin: auto 0    
    min-height: 0
  @media #{$large-up}
    .responsive-author
      display: none

// Blog teasers
article.teaser
  .hero
    height: 200px
    padding: 5px
  h2
    font-size: 250%
    line-height: 125%
    padding: 0.2em 0 0 0
    a
      text-decoration: none
  h3
    font-size: 120%
    color: $pink
    letter-spacing: $pinkspacing
  .meta
    +underline-section
    border-width: 1px 0 1px 
  .meta
    padding-bottom: 4px
  .para0
    font-size: 120%
  .para1
    color: #444
    font-size: 110%
  .para2
    color: #666
  .social-likes__widget
    margin: 0

// Venues
.vcard
  border: 0
  margin: 0
  padding: 0
  span
    display: block

//////////////////////////
// FRONT PAGE SLIDESHOW //
//////////////////////////

body.index section#main
  section .row > div
    margin: 2em 0 
  p
    font-size: 130%
  p.caption
    font-size: 90%
    font-style: italic
    color: #aaa   
  h3, h4
    margin-bottom: 1.5em
  .arrow
    margin: 0 auto 2em
    width: 39px
    height: 50px
    cursor: pointer
    cursor: hand
  .whitearrow
    background-image: url("/images/icons/arrow_white.png")
    background-image: url("/images/icons/arrow_white.svg")  
  .pinkarrow
    background-image: url("/images/icons/arrow_pink.png")
    background-image: url("/images/icons/arrow_pink.svg")
  section#first-festival-is
    background-image: url("/images/home/canalst.jpg")
    background-attachment: fixed
    background-color: transparent
    text-align: center
    padding-top: 0
    .row
      top: 0
      margin-top: -$jaggies
    h3
      color: white
      margin: 3em 0
      text-align: center
      font-weight: normal
      a
        color: white
  section#what-it-is
    margin-top: 0em
    background-attachment: fixed
    background-image: url("/images/home/badges.jpg")
    background-color: transparent
    padding-top: 0em
    .row
      top: 0
      margin-top: -$jaggies    
    h3
      font-size: 150%
      margin-top: 3em
      margin-bottom: 1em
    p
      font-size: 130%
      color: white
  section#hosted-at
    text-align: center
    padding-top: 0
    .border
      +border-top-serrated($jaggies, white)
    .small-12 .content
      margin: 4em 0
      color: black
      p
        font-size: 150%
        padding: 0.5em
        a
          color: black
  section#bigicons
    padding-bottom: 2em
    p
      color: white
    img
      margin: 1em 0
    a
      color: white
      text-decoration: none
  section#saturday
    +border-top-serrated($jaggies, $pink)
    margin-top: -$jaggies
    h2
      background-image: url('/images/icons/longborder.png')
      min-height: 80px
      padding: 13px 0
  section#sunday
    margin-top: 2em

.fpi
  background-attachment: fixed
  background-repeat: no-repeat
  background-size: cover
  height: 28em
.sat-image
  background-image: url("/images/home/library.jpg")
.sun-image
  background-image: url("/images/home/phm.jpg")
.theatre-image
  background-image: url("/images/home/theatre.png")
.film-image
  background-image: url("/images/home/pride.jpg")
.family-image
  background-image: url("/images/home/sue-schools.jpg")
.academic-image
  // Courtesty Huw on Flickr http://www.flickr.com/photos/littlehuw/8442039623/in/pool-1888270@N20
  background-image: url("/images/home/bloodysunday.jpg")
nav#elements
  background: white
  left: 0
  padding: 0.25em 0
  ul
    margin: 0
    padding: 0
  li
    color: $pink
    letter-spacing: $pinkspacing
    text-transform: uppercase
    font-weight: bold
    font-size: 125%
    list-style-type: none  
    display: inline-block  
    padding: 0em 1.5em
    a
      color: $pink
      text-decoration: none
    &.first
      padding-left: 0
    &.last
      padding-right: 0
  li.active a
    color: black