$red: #ED1C24
$orange: #F7941E
$yellow: #FFF200
$green: #8CC63F
$blue: #0F75BC
$violet: #92278F
$dark-grey: rgb(34,34,34  )
$pink: #EB6D98


// Matching font from LGBT history month website
h1, h2, h3, h4, h5
  font-family: "Proxima-Nova", Helvetica, Arial, sans-serif
  text-transform: uppercase
h1, h2, h3, h4, h5
  font-weight: bold

// All pink sections
section.pink
  background-color: $pink
  h1, h2, h3, h4, h5
    color: white

// Buttons
// .button
// &:after
//   content: ' '
//   height: 0
//   position: absolute
//   width: 0
//   top: 0
//   right: -1.5em
//   border-style: solid
//   border-width: 1.5em 0 1.5em 1.5em
//   border-color: transparent transparent transparent $pink

// Branding
section#branding
  padding: 1.5em 0
  text-align: center
  background-color: $pink
section#date
  background-color: black
  text-transform: uppercase
  text-align: center
  h5
    font-weight: normal
    color: $pink
    font-size: 110%
    padding: 0.3em 0

// Navigation
nav#main-nav
  text-align: center
  li
    margin: 0 2em
  a
    text-transform: uppercase
    font-weight: bold

section.top-bar-section
  display: inline-block

// Padding on copy sections
section#main section
  padding-top: 2em
  padding-bottom: 1em

// Hero
section#hero
  padding: 0 !important
  background-color: lighten($orange, 20%)
  background-position: center center
  .row h3, .row p
    background-color: rgba(255,255,255,0.6)
    padding: 0.5em 1em
    display: inline-block
  ul.orbit-slides-container
    padding: 5em 0
  li.slide
    padding: 5em 0
    h3
      font-size: 175%
    .row p
      font-size: 125%
  .intro
    background: url('/images/hero/canal-st.jpg')
  .who
    background: url('/images/hero/press-for-change.jpg')
  .contribute
    background: url('/images/hero/mardi-gras-99.jpg')
  div.orbit-bullets-container
    height: 0
  div.orbit-caption a
    color: black
    border-style: dotted 
    border-color: black
    border-width: 0 0 1px 0
  ol.orbit-bullets
    display: inline
    margin: 0
    top: -34px

// Full program blocks

#programme
  h2
    color: rgba(255,255,255,0.9)
  ul
    margin: 0
    padding: 0
    background-color: rgba(100,100,100,0.1)
  li
    list-style-type: none
    padding: 1em 0.25em
    border-bottom: 2px dotted white
    &:last-child
      border-bottom: none
    h5
      margin-top: 0
      font-weight: bold
      .date
        color: #444
        font-weight: normal
        font-size: 80%
    p:last-child
      margin-bottom: 0
    &.talk
      background-color: rgba(128,0,0,0.2)
    &.keynote
      background-color: rgba(0,0,128,0.4)

ul#hub-programme
  margin: 0
  padding: 0
  li
    list-style-type: none
    margin: 0 0 2em 0
    padding: 0

// Films

span.details
  font-weight: 300
  font-size: 50%

// Footer

section#footer
  padding: 3em 0 2em
  background-color: black
  text-transform: uppercase
  color: #777
  p
    font-size: 70%
  ul
    margin: 0
  li
    text-align: center
    list-style-type: none
    display: inline-block
    margin-right: 2em
    margin: 0
    padding: 0

form#contribute 
  .error
    background-color: $red
    color: white
    font-style: italic