---
title: "From the Castro to Section 28: Harvey Milk, Schools OUT UK, and forty years of Educating Out Prejudice"
authors: Festival Team
tags: Press Release
hero: "/images/blog/stuart/hero.jpg"
teaser: 
  - "How can we all make the world more equal for LGBT people? “Hope will never be silent”, said iconic American politician Harvey Milk, who was assassinated alongside colleague George Moscone in 1978. When faced with tragedy, or oppression everywhere, it's easy to feel powerless and insignificant – both natural responses to seemingly insurmountable problems."
  - "Stuart Milk will be appearing at the First National Festival of LGBT History, to talk about the Milk Foundation's legacy changing rights for people around the world."

---

How can we all make the world more equal for LGBT people? “Hope will never be silent”, said iconic American politician Harvey Milk, who was assassinated alongside colleague George Moscone in 1978. When faced with tragedy, or oppression everywhere, it's easy to feel powerless and insignificant – both natural responses to seemingly insurmountable problems.

Both Harvey himself, and Harvey's nephew Stuart Milk knew how to really make the world a better place: through broad public education, dialogue, and civil rights campaigning. Stuart Milk,  who is appearing at the First National Festival of LGBT History, took his uncle's ideas to their logical conclusion, and established the Harvey Milk Foundation to continue Harvey's life’s work. 

<%= inline_img "/images/blog/stuart/whitehouse.jpg", "Stuart Milk addressing the White House" %>

On our side of the Atlantic, Schools OUT UK was established a few years before Harvey was elected, in 1974. Schools OUT UK, who established both LGBT History Month in 2005, and the First National Festival of LGBT History this year, have a history of collaboration. Sue Sanders, co-chair of Schools OUT UK said: 

> Both Schools OUT UK and the Milk Foundation agree that the only real way to create social change is to educate out prejudice, by being visible in all walks of life, and campaigning hard to change minds. Both our organisations are run by volunteers, and work heavily with schools and policymakers to improve human rights for everyone.

We are delighted to announce that Stuart Milk is guest of honour at the First National Festival of LGBT History. Stuart will be speaking at the opening and closing events, touring schools throughout Manchester, and conducting readings for young children as part of the Schools & Families festival strand. Stuart and the Milk Foundation have been enormously successful lobbying around the world,  most recently as a keynote speaker at the White House, and at the European Diversity Congress in Berlin. 

Harvey once said:

> Come out to your relatives…come out to your friends… if indeed they are your friends. Come out to your neighbours… to your fellow workers…to the people who work where you eat and shop…come out only to the people you know, and who know you. And once and for all, break down the myths, destroy the lies and distortions.

His words are as true today as they were then: that being visible everywhere from Parliament to the pulpit to our primary schools is essential for the safety of everyone.  Since the time of Harvey's quote, much has been achieved in LGBT rights in some parts of the world. But we are also seeing a backlash as many of our community suffer indignities, imprisonment and death due to homophobia, biphobia and transphobia. Partly as a result of Schools OUT UK and the Milk Foundation's work, we have made great strides towards equality: however, there is as much ahead of us as there is behind us, not least in countries still beholden to the British Empire's colonial legacy of anti-gay legislation, [discussed by Peter Tatchell on Sunday 15th](http://lgbthistoryfestival.org/schedule.html?speaker=peter-tatchell#peter-tatchell-commonwealth-homophobia-an).

One proposed solution to this renewed discrimination is to create schools which are inclusive safer spaces for LGBT students who have suffered discrimination in other environments, and can act as a model for all schools in educating out prejudice. Recently Stuart was able to help LGBT Youth North West’s Amelia Lee visit the Harvey Milk High School in New York. Amelia told [The Guardian](http://www.theguardian.com/education/2015/jan/16/school-for-lesbian-gay-bisexual-transgender-pupils-manchester):

> This is about saving lives... We have an education system that sets up 5%-10% of pupils to fail through fear and structure, because it routinely fails to recognise and incorporate the needs of young people struggling with their identities. We can either hope every school is going to be inclusive, or we can recognise we are not there yet and so, for the moment, we need more specialised schools” 

Stuart's tour of schools aims to address these issues, and educate the educators. 

The last ten years or so has been a watershed for both LGBT rights, and visibility of LGBT people, in both the UK and USA. Transgender issues especially have recently come to the forefront, with Time Magazine in the USA declaring Transgender politics as the USA's next civil rights frontier, while in the UK the Equalities Act 2010 made gender identity a protected status under law. Both Schools OUT UK and the Milk Foundation look forwards to a future where everyone is accepted and celebrated, regardless of their race, religion, ability, culture, gender, and sexuality, achieved through popular education and public debate.

Stuart will be reading from “The Harvey Milk Story” by Kari Krakow in the Schools & Families space at Central Library (Sat 15:20), and will be the main speaker at the Festival Closing Event at Peoples History Museum (Sun 16:00). He will also be opening the academic conference at the Lesbian and Gay Foundation (Sat 9:30am) and speaking at the academic conference dinner (Sat 19:30).

He will be attending the sold out Official Civic Launch event (Fri 5:30), all performances of A Very Victorian Scandal (see schedule), and attending a special screening of the film ‘Pride’ with original members of ‘Lesbians and Gays support the Miners’ (Saturday evening).

_All enquiries: <a href="mailto:kim@lgbthistoryfestival.org">kim@lgbthistoryfestival.org</a>._