%select#speakerlist
  %option{:id => "placeholder"}
    Select a speaker
  - contribs_AZ.each do |speaker,entry|
  - imagepath = 'images/bio-photos/'
  - filename = imagepath + entry.urlname.parameterize+'.jpg'
    %option{:class => "bio-boxes", :id => entry.urlname,
            :"data-image" => (imagepath if File.exist? filename)}
      = speaker
