%select{:id => "speakerlist", :"data-placeholder" => "Select a speaker"}
  %option
  - contribs_AZ.each do |speaker,entry|
  - imagepath = 'images/bio-photos/'
  - filename = imagepath + entry.urlname.parameterize+'.jpg'
    %option{:class => "bio-boxes", :value => entry.urlname,
            :"data-image" => (imagepath if File.exist? filename)}
      = speaker
