---
title: What is & How to DO LGBT History?
---

%section
  .row
    .large-12.columns
      %h1 The 2nd What is &amp; How to Do LGBT History Conference 
      %h2 Methods, Subjects, &amp; Approaches
%section.pink
  .row
    .large-8.columns
      :markdown
        ### About the conference
        Despite the increasing popular demand for "LGBT History" in Britain, the history of attitudes towards sex and gender diversity in the UK remains an underdeveloped field, especially in comparison with the advances that have been made in the United States. An important part of the 10th anniversary celebrations of LGBT History month is to lead and develop the growing discourse into past attitudes towards sex and gender diversity within the academy and among the general public.

        The academic conference 'What is & How to DO LGBT History?' is part of the Festival, and seeks to place attitudes, experiences and identities in their historical context. In doing so, we hope to uncover and understand regional, temporal and ideological differences in past attitudes towards genderand sex. We are delighted to announce that many of the LGBT HM Distinguished Academic Patrons will be in attendance and contributing to the event. The organisers of "What is & How to Do LGBT History?" conference invite twenty minute papers or three paper panels on the following range of broad topics and their relationship to the study of past attitudes towards sex, and gender diversity.

         * Archival research and the uncovering of source materials
         * The influence of other disciplines on historical study
         * Experiences of conducting research within the academy
         * Reclaiming forgotten histories
         * Writing the history of under/unexplored regions
         * The relationship between historical study and political activism
         * Considering the impact of our work as historians
         * The problem of naming in a historical context
         * Ethical issues in historical research

        ### Venue
        We are pleased to announce that the conference will be hosted at The LGF Conference Venue, 5 Richmond St, Manchester. [More information about the venue is on the LGF website](http://www.lgf.org.uk/for-professionals/room-hire/).

        ### Contact
         * For paper submissions, please contact [lgbthmaap@gmail.com](mailto:lgbthmaap@gmail.com). 
         * For any other enquiries, please contact [academics@schools-out.org.uk](mailto:academics@schools-out.org.uk).

    .large-4.columns
      %h3 Call for papers
      :markdown
        Paper submissions are now closed.
      %h3 Academic Patrons 
      %h5 (History &amp Archeology)
      :markdown
        * [Harry Cocks](http://www.nottingham.ac.uk/history/people/harry.cocks) (Associate Professor, Faculty of Arts, Nottingham)
        * [Matt Cook](http://www.bbk.ac.uk/history/our-staff/full-time-academic-staff/dr-matt-cook) (Senior Lecturer in History & Gender Studies, Birkbeck, London University.)
        * [Martin Hall](http://www.salford.ac.uk/about-us/corporate-information/university-structure/leadership-and-management/martin-hall) (Vice-Chancellor of Salford University & Archaeologist)
        * [Shelia Rowbotham](http://www.manchester.ac.uk/research/sheila.rowbotham/publications) (Professor, School of Social Sciences, Manchester University)
        * [Melanie Tebbutt](http://www.hssr.mmu.ac.uk/mcys/mcys-research-staff/dr-melanie-tebbutt/) (Reader in History, Director of the Manchester Centre for Regional History, MMU)
        * [Charles Upchurch](http://history.fsu.edu/People/Faculty-by-Name/Charles-Upchurch) (Associate Professor of History, Florida State University)
        * [Jeffrey Weeks](http://www.lsbu.ac.uk/about-us/people-finder/prof-jeffrey-weeks) (Research Professor, Arts and Human Sciences, South Bank University).
