---
title: Contact
---

%section#s2
  .row
    .small-12.columns
      %h1 Contact Us
    .medium-6.columns
      :markdown
        ### Online
          * Tel: 07928 532479, on during the festival
          * General enquiries: [info@lgbthistoryfestival.org](mailto:info@lgbthistoryfestival.org)
          * Press: [kim@lgbthistoryfestival.org](mailto:kim@lgbthistoryfestival.org)
          * Academic: [academics@schools-out.org.uk](mailto:academics@schools-out.org.uk)
          * Twitter: [@lgbthistoryfest](https://twitter.com/lgbthistoryfest)
          * Facebook: [LGBT History Festival](https://www.facebook.com/lgbthistoryfestival?fref=ts)

        ### Postal address

        LGBT History Festival  
        c/o [Joyce Layland LGBT Centre](http://www.lgbtcentremcr.co.uk/)  
        49-51 Sidney St  
        Manchester  
        M1 7HB

        ### Like us?

      <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Flgbthistoryfestival%2F&amp;width&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:290px;" allowTransparency="true"></iframe>


    .medium-6.columns
      %h3 Tweet us?
      <a class="twitter-timeline" href="https://twitter.com/lgbthistoryfest" data-widget-id="494862263551926272">Tweets by @lgbthistoryfest</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

