---
title: Film Programme
---

%section#s2
  .row
    %h2 Film Programme
- section = 2
- data.films.each do |day, film|
  - section += 1
  - section = 1 if (section > 6)
  - this_section = "s" + section.to_s
  %section{:id => this_section}
    .row
      .large-8.columns
        %h3= day.capitalize + ' ' + film.time.to_s
        %h2
          = film.title
          - if (film.details)
            %span.details= "(" + film.details.to_s + ")"
        :markdown
          #{film.description}
      .large-4.columns
        %a.th
          %img{:src => "http://placekitten.com/g/500/600"}
        %a.button.round
          Book tickets now!