---
title: First National Festival of LGBT History
---

%section#slide-1
  .row 
    .small-12.columns
      %h1 The First National Festival of LGBT history celebrates LGBT History Month&rsquo;s 10th anniversary
  .whitearrow.arrow

%section#slide-2
  .row
    .small-12.text-center.columns
      %h3 Trailblazing activists will talk about their lives and present popular histories, and internationally renowned scholars will present world-first research on a range of topics. 
      %p There will be groundbreaking immersive theatre over three days around the city; innovative diversity lessons for families and younger people; and a film festival celebrating LGBT themes from around the world. 
  .pinkarrow.arrow

%section#slide-3
  .border
  .row
    .small-12.text-center.columns
      .content
        :markdown
          The Festival is hosted at [Manchester's most prestigious venues](/travel.html): the newly refurbished Central Library, People's History Museum, the Lesbian and Gay Foundation, and various venues throughout Manchester's Gay Village. 

          We are proud to work with Manchester City Council, LGF, School's OUT UK, Manchester Metropolitan University, and scholars from some of the country's most respected institutions in delivering this world-first festival.          
  .whitearrow.arrow

%section#slide-4.pink
  .row.text-center
    .small-4.columns
      %a{:href => "/programme.html"}
        %h3 The Program
        %img{:src => "/images/icons/program.png"}
        %p Read the program and find out what's happening
    .small-4.columns
      %a{:href => "/venues.html"} 
        %h3 Venues
        %img{:src => "/images/icons/venues.png"}
        %p Find out about the venues, booking and travel
    .small-4.columns        
      %a{:href => "/about-us.html"} 
        %h3 About Us
        %img{:src => "/images/icons/aboutus.png"}
        %p Learn more about the organisation and its values

#slide-5.text-center
  .row
    .small-12.columns
      %h2 What&rsquo;s on?
  .sat-image
  .row
    .medium-1.columns
    .small-12.medium-10.columns
      %h3 Saturday Hub
      %h5 Manchester Central Library
      %p An exploration of the lives of LGBT people throughout history, with new research by members of the public and historians. Members of the community will share their stories and experiences.
    .medium-1.columns
  .pinkarrow.arrow
  .sun-image
  .row
    .medium-1.columns  
    .small-12.medium-10.columns
      %h3 Sunday Hub
      %h5 People&rsquo;s History Museum
      %p Will be hosting discussions of power and institutions, and the role of social movements in changing rights for LGBT people.
    .medium-1.columns      
  .pinkarrow.arrow

.row
  .small-12.columns
    :markdown      
      ### Film 
      We are showcasing film representations of LGBT diversity, including a specific focus on German film's pioneering role in representing sex and gender diversity on the screen.

      ### Theatre 
      Pagelight Productions will dramatise a historic raid of a fancy dress ball in Hulme in September 1880 and show why this event made the international news.

      ### Academic Conference 
      The LGF hosts an academic conference 'The 2nd What is & How to DO LGBT History?', which seeks to place attitudes, experiences and identities in their historical context.

      ### Family Events 
      Both Saturday and Sunday feature diversity and LGBT history lessons, delivered by experienced teachers, for Key Stages 1 & 2. There will also be story time for younger children and teenagers.

