---
title: First National Festival of LGBT History
---


%section#what-it-is
  .row
    .small-12.text-center.columns
      %h3 Trailblazing activists and renowned scholars are coming together to celebrate and present 300+ years of LGBT History, in a world-first popular festival of it's kind. 
      %p The Festival features historical talks and lectures on LGBT life stories and politics, a groundbreaking immersive theatre production, a film festival, diversity lessons for children and young adults, an academic conference, and many other surprises. 
  .pinkarrow.arrow

%section#whatson
  .row
    .small-12.columns.text-center
      %h2.longborder What&rsquo;s on?
        
      :markdown
        The festival launches on **Friday** at the Lesbian and Gay Foundation, with the **[inaugural Allan Horsfall lecture](/blog/2014/11/13/allan-horsfall-lecture.html)**, sponsored by the Campagin for Homosexual Equality. **Saturday** at **Central Library** goes _Under The Rainbow_, with an exploration of LGBT identity and personal stories from the 18th century to today. **Sunday** at **People's History Musuem** explores lesbian activists, LGBT rights in the workplace, and explores Britain's colonial legacy in exporting homophobic laws.

        **[_A Very Victorian Scandal_](#theatre)**, our innovative, immersive theatre performance based on an 1880 police raid on a fancy dress ball, runs throughout the weekend. There are **family-friendly** events for children and young adults on the Saturday and Sunday. The 2nd **&ldquo;What is and how to do LGBT history&rdquo;** conference runs in parallel at the **Lesbian and Gay Foundation**.

        Finally, there are **films** throughout the week in Manchester's **Gay Village**, and various suprises in the week leading up to the festival. Stay tuned, and be sure to follow our [Facebook](https://www.facebook.com/lgbthistoryfestival?fref=ts) and [Twitter](https://twitter.com/lgbthistoryfest), or join our [e-mail list](http://crm.lgbthistoryfestival.org/civicrm/mailing/subscribe) for up-to-the minute news! Keep scrolling to find out more, or go to the [schedule page](/schedule.html) to find out full details.
  .row     
    .small-12.columns.text-center
      %h2 Find out more about&hellip;
      %nav#elements{"data-magellan-expedition" => "fixed"}
        %ul.show-for-medium-up
          %li.first{"data-magellan-arrival" => "saturday"}
            %a{:href => "#saturday"} Saturday
          %li{"data-magellan-arrival" => "sunday"}
            %a{:href => "#sunday"} Sunday
          %li{"data-magellan-arrival" => "theatre"}
            %a{:href => "#theatre"} Theatre
          %li Families
          %li Films
          %li.last Academic
  .pinkarrow.arrow             

%section#first-festival-is
  .row
    .small-12.columns
      :markdown
        ### The First National Festival of LGBT History is the official celebration of LGBT History Month's 10th anniversary. [LGBT History Month](http://lgbthistorymonth.org.uk/) is a part of [School's OUT UK](http://www.schools-out.org.uk/), which has worked towards equality, safety and visibility for lesbian, gay, bisexual and trans* people in education since 1974. 

        ### We are proud to work with Manchester City Council, the LGF, Manchester Metropolitan University, and scholars from some of the country's most respected institutions in delivering this unprecedented, world-first festival. 
  .whitearrow.arrow

%section#bigicons.pink
  .row.text-center
    .small-4.columns
      %a{:href => "/schedule.html"}
        %h3.chevronborder The Schedule
        %img{:src => "/images/icons/program.png"}
        %p Read the schedule and find out what's happening
    .small-4.columns
      %a{:href => "/travel.html"}
        %h3.chevronborder Venues
        %img{:src => "/images/icons/venues.png"}
        %p Find out about the venues, booking and travel
    .small-4.columns
      %a{:href => "/about-us.html"}
        %h3.chevronborder About Us
        %img{:src => "/images/icons/aboutus.png"}
        %p Learn more about the organisation and its values



%section#saturday.text-center{"data-magellan-destination" => "saturday"}
  .sat-image

  .row
    .medium-1.columns
    .small-12.medium-10.columns
      %h3.scallopedborder Saturday &mdash; Under The Rainbow
      %h5 Manchester Central Library
      :markdown
        Where are we now and how did we get here? Saturday explores 200+ years of LGBTQ identity, from when George III was on the throne to the present day. 
    .medium-1.columns

  .row
    .medium-8.columns.text-left
      :markdown
        #### Where are we now?

        A celebration of the remarkable work of LGBTQ campaigners living today. We examine the frontline services that improved the lives of many, such as the _Lesbian Information Service_ (presented by **Jan Bridget**), and _Nottinghamshire Lesbian and Gay Switchboard_ (presented by **David Edgley**).

        The _Campaign for Homosexual Equality_ are launching the first volume of their history, written by **Peter Scott-Presland**, while **Ross Burgess** talks about CHE's impact and legacy. **Christine Burns MBE**, key activist in _Press For Change_, who's work contributed to the _Gender Recognition Act 2004_, will talk about overcoming the challenges to document trans* history.

        Other remarkable individuals discuss their extraordinary lives, including **Peter Tatchell**, founder of the _Gay Liberation Front_; and **Alex Herrmann**, who will talk about his life as a gay man in socialist East Germany.

        Obviously as a Manchester festival we have to talk about music! **Abby Ward**, founder of the _Manchester District Music Archive_ discusses her _Queer Noise_ collection of tickets and posters, including infamous clubnights from _Flesh_ (at the famous _Haçienda_) to _Club Brenda_.

    .medium-4.columns

  .row
    .medium-4.columns
    .medium-8.columns.text-left
      :markdown
        #### How did we get here?

        **Helena Whitbread**, biographer of **Anne Lister**, discusses her coded diaries, which detail her multiple relationships with women when George III was on the throne. 1806-1840 26 volumes 4m words

        Oscar Wilde's lover's wife, **Olive Custance**, is
  .row
    .medium-4.columns
    .medium-8.columns.text-right
      :markdown
        #### Archive Tours
      %p= lorem.words 30
  .pinkarrow.arrow

%section#sunday.text-center{"data-magellan-destination" => "sunday"}
  .sun-image
  .row
    .medium-1.columns
    .small-12.medium-10.columns
      %h3.scallopedborder Sunday Hub
      %h4 People&rsquo;s History Museum
      %p  Discussions of power and institutions, and the role of social movements in changing rights for LGBT people. Sunday has three themes: relating to the protest movement, the law, and the workplace.
    .medium-1.columns
  .row
    .medium-8.columns.text-left
      :markdown
        #### Theme 1: Lesbian Protesters

        From votes for women campaigns to the Greenham Common peace camps, lesbian women have been at the forefront of movements for social change. **Sheila Standard** and **Dr Sonja Tiernan** discuss the key roles played by lesbians in protest movements, including the _Barmaids' Defence League_ and _Urania_, a pioneering covert journal on gender and sexuality.
    .medium-4.columns
  .row
    .medium-4.columns
    .medium-8.columns.text-right
      :markdown
        #### Theme 2: LGBT and the Law
        In the 1800s, the British Empire stretched across two thirds of the world, and Britain exported laws banning same-sex relations to its colonies. Human rights campaigner **Peter Tatchell** and **Prossy Kakooza**, a refugee who has rebuilt her life in the UK after experiencing abuse and torture in Uganda, discuss Britain's colonial legacy.
  .row
    .medium-8.columns.text-left
      :markdown
        #### Theme 3: LGBT in the Workplace

        **Mike Jackson**, co-founder of _Lesbians and Gays Support the Miners_ highlights the story behind this year’s critically acclaimed film _Pride_. **Cath Booth** discusses the work of _Lesbians and Gays Support the Printworkers_ who assisted workers sacked by Murdoch at Wapping. TUC LGBT &amp; Disability Officer **Peter Purton** will explore the history of how homophobia and transphobia have been addressed in the workplace.
    .medium-4.columns
  .pinkarrow.arrow

%section#theatre.text-center{"data-magellan-destination" => "theatre"}
  .theatre-image
  .row
    .medium-1.columns
    .medium-10.columns
      %h3.scallopedborder Theatre
      :markdown
        A Very Victorian Scandal ([#AVVS](https://twitter.com/hashtag/AVVS)) is a groundbreaking immersive theatre project, being performed over the festival weekend. The project will recreate scenes from the biggest police raid on an LGBT venue in British history. Manchester’s famous Victorian detective, Jerome Caminada, led the raid on an all-male fancy dress ball in Hulme and arrested forty-seven men. The subsequent press coverage caused an international sensation. This was the UK’s Stonewall moment, and it happened in 1880.
      .medium-1.columns
    .row
      .medium-8.columns.text-left
        :markdown
          #### The Raid

          ##### Friday 13th

          Elements of the fancy dress ball will be recreated at Via, on Canal Street, in a themed night of entertainment. Audiences can mingle with the fancy dress ball attendees, and watch them sing and dance to Music Hall tunes. The evening will climax with a spectacular police raid.
      .medium-4.columns
        = image_tag ("home/raid.jpg")
    .row
      .medium-4.columns
        = image_tag ("home/caminada.jpg")
      .medium-8.columns.text-left
        :markdown
          #### Caminada

          ##### Saturday 14th

          The political motives of the police raid will be explored in an intimate performance in the Manchester Central Library. Will Caminada be able to tame the press to help the Deputy Chief Constable achieve promotion?
    .row
      .medium-8.columns.text-left
        :markdown
          #### The Trial

          ##### Sunday 15th

          The trial of 47 prisoners will be recreated in an immersive theatrical experience at the People’s History Museum. The fate of the Prisoners will be decided. Can they all maintain an oath of silence, or will one of them speak out? And how will the prosecution secure convictions, when no law has been broken?
      .medium-4.columns
        = image_tag ("home/trial.jpg")

%section
  .row
    .small-12.columns
      :markdown
        ### Film
        We are showcasing film representations of LGBT diversity, including a specific focus on German film's pioneering role in representing sex and gender diversity on the screen.

        ### Academic Conference
        The LGF hosts an academic conference 'The 2nd What is & How to DO LGBT History?', which seeks to place attitudes, experiences and identities in their historical context.

        ### Family Events
        Both Saturday and Sunday feature diversity and LGBT history lessons, delivered by experienced teachers, for Key Stages 1 & 2. There will also be story time for younger children and teenagers.

:javascript
  $('.arrow').on('click', function(event){
    var target = $(this).parent().next();
    // Find the true visible height of #branding section and use that.
    var nav_deviation = $("#branding").outerHeight() + $("#branding").offset().top - $(window).scrollTop();
    var scrollMe = target.offset().top - nav_deviation;
    $('html, body').animate({
      scrollTop: scrollMe
    }, 1000);
  });        