---
title: First National Festival of LGBT History
---

#slide-1
  .border
  .row
    .small-12.columns
      %h1 The First National Festival of LGBT history celebrates LGBT History Month&rsquo;s 10th anniversary
  .img-holder{"data-image" => "/images/home/canalst.jpg"}
#slide-2
  .row
    .small-12.text-center.columns
      %h3 Trailblazing activists will talk about their lives and present popular histories, and internationally renowned scholars will present world-first research on a range of topics. 
      %p There will be groundbreaking immersive theatre over three days around the city; innovative diversity lessons for families and younger people; and a film festival celebrating LGBT themes from around the world.  
#slide-3
  .border
  .row
    .small-12.text-center.columns
      .content
        :markdown
          The Festival is hosted at [Manchester's most prestigious venues](/venues.html): the newly refurbished Central Library, People's History Museum, the Lesbian and Gay Foundation, and various venues throughout Manchester's Gay Village. 

          We are proud to work with Manchester City Council, LGF, School's OUT UK, Manchester Metropolitan University, and scholars from some of the country's most respected institutions in delivering this world-first festival.
  .img-holder{"data-image" => "/images/home/badges.jpg"}

#slide-4
  %section.row
    %a{:href => "/programme.html", :class => "button"} Read the program and find out what's happening
    %a{:href => "/venues.html", :class => "button"} Find out about the venues, booking and travel
    %a{:href => "/about-us.html", :class => "button"} Learn more about the organisation and its values

    :markdown
      ### What is LGBT History Month?

      [Lesbian, Gay, Bisexual and Trans History Month](http://lgbthistorymonth.org.uk/) celebrates the lives and achievements of the LGBT community. LGBT HM is celebrated in February in the UK, but our work to challenge homophobia, biphobia and transphobia continues throughout the year. Education is especially important to achieving this, so much of our work focuses on schools.

  %section.pink
    .row
      .small-12.columns
        :markdown
          ## What's on?

          ### Saturday Hub

          ##### Manchester Central Library

          Hosts an exploration of the lives of LGBT people throughout history, with new research by members of the public and historians. Members of the community will share their stories and experiences.

          ### Sunday Hub

          ##### People’s History Museum

          Will be hosting discussions of power and institutions, and the role of social movements in changing rights for LGBT people.
          
          ### Film 
          We are showcasing film representations of LGBT diversity, including a specific focus on German film's pioneering role in representing sex and gender diversity on the screen.
          
          ### Theatre 
          Pagelight Productions will dramatise a historic raid of a fancy dress ball in Hulme in September 1880 and show why this event made the international news.
          
          ### Academic Conference 
          The LGF hosts an academic conference 'The 2nd What is & How to DO LGBT History?', which seeks to place attitudes, experiences and identities in their historical context.
          
          ### Family Events 
          Both Saturday and Sunday feature diversity and LGBT history lessons, delivered by experienced teachers, for Key Stages 1 & 2. There will also be story time for younger children and teenagers.
          Logos

  %section
    .row
      .small-12.columns
        :markdown
          ## Special Guests

  %section.pink
    .row
      .small-12.columns
        :markdown
          ## Testimonials    
