---
title: The First National LGBT History Festival
---

%section#s2
  .row{"data-equalizer" => true}
    .large-7.columns{"data-equalizer-watch" => true}
      %h3 What's this?
      %p
        <a href="http://lgbthistorymonth.org.uk/">LGBT History Month</a> is in its 10th year, is celebrating with the <em>First National Festival of LGBT History</em>. The Festival has two main components: "What Is & to Do LGBT History?", an academic conference hosted at the Lesbian & Gay Foundation, and a main festival hosted at Central Library, The People's History Museum, and other prestigious venues around Manchester City Center.
      %p
        %a.small.round.button{href: "#"} Find out more about the festival &hellip;

    .large-5.columns{"data-equalizer-watch" => true}
      %h3 Call for Contributions
      %p
        We are pleased to invite members of the public, charities, NGOs and other LGBT and history organisations, to submit proposals for talks, films, and artworks, based on archival material. We seek to showcase and celebrate endeavours to illuminate the UK's LGBT past, and help write a richer and more inclusive history of Britain.
      %p
        %a.small.round.button{href: "#"} Find out more submitting your idea to the festival &hellip;

      %h4 Academic Contributors
      %p
        The call for academic papers is also still open.
      %p
        %a.small.round.button{:href => "#"} Academic call for papers &hellip;


%section#s3
  .row{"data-equalizer" => true}
    .large-4.columns.text-center
      %h4 Main Festival
      %p Want to know more about how gay people throught about themselves in the 1880s? Fancy talking to someone about being trans in the 1960s? Curious about what could be hidden in some of these archive boxes?
      %a.button.round.small Find out more about the main festival
    .large-4.columns.text-center
      %h4 Films 
      %p We are very excited to show a German retrospective to showcase the importance that german film had when it comes to exploring the changing attitudes to sex and gender diversity. 
      %a.button.round.small Find out more about the film schedule
    .large-4.columns.text-center
      %h4 Academic
      %p World-class scholars will present their reserach and discuss historical methods for studying gender and sexual diversity in the past. 
      %a.button.round.small Find out more about the conference

%section#s4
  .row
    .large-12.columns
      %h3 Some of our speakers  
    - (1..6).each do |n|
      .large-2.columns
        %h5 Famous Cat #{n}
        %img{src: "http://placekitten.com/g/150/150"}