---
title: Programme of Events
---

%section
  -# .row
  -#   .large-12.columns
  -#     %div{"data-magellan-expedition" => "fixed"}
  -#       %dl.sub-nav
  -#         %dd{"data-magellan-arrival" => "hub"}
  -#           %a{:href => "#hub"} Hub
  .row
    .small-12.columns
      %h1 Programme
  .row
    .medium-8.columns
      :markdown
        Manchester is hosting the first ever national festival focused on exploring, exposing, and discussing lesbian, gay, bisexual, and trans (LGBT) history. The Festival is over five days, and will be at Central Library's Archives+, the People's History Museum, and many venues throughout Manchester. We will be showcasing new popular research into LGBT history, and celebrate LGBT representation in film and comics with a German film retrospective and an open discussion about comic books. It is a sister event to The 2nd _What Is & How To Do LGBT History_ Research Conference, a free academic conference on LGBT history.

        More details about all the events will be released over the next few months!
    .medium-4.columns
      = inline_img("/images/gallery/central-library-1934.jpg")

%section.pink
  .row
    .medium-12.columns
      %a{:name => "#hub"}
      %h2{"data-magellan-destination" => "hub"} Festival Hub
  .row
    .medium-6.columns
      %h3 Saturday
      %p
        On Saturday we are excited to take over part of Manchester Central Library and Archives+ to present new research by members of the public and historians. We will also be exploring the personal histories of some illustrious Talking Heads. For those who have not been, we are pleased to announce that the Archive will be open so that you can have a look at some of the collections. Experienced volunteers will talk about important collections and artefacts and why they have worked with these particular documents. 
      %p
        We are also proud to make this event as accessible as possible and there will be a family friendly section of Central library where diversity and history lessons will be given by experienced teachers for Key Stages 1 &amp; 2. There will also be story time for younger children and teenagers. All books are available in the library. 
    .medium-6.columns
      :markdown
        ### Sunday

        People’s History Museum will host Sunday’s action packed programme.  Bring along your objects, artefacts and archives to our Show and Tell.  Experts will be on hand to help you find out more, and we’d love to hear your personal stories about your material. The opening weekend of our [Election!](http://www.phm.org.uk/whatson/election-britain-votes/) exhibition will provide the backdrop to finding out more about the political side of LGBT history, with talks, tours and the opportunity to delve into our archive. Families can get hands on with craft activities and storytelling.

      = inline_img("/images/gallery/phm.jpg")
 
%section
  .row
    .small-12.columns
      %h2#films Film Festival
  .row
    .medium-8.columns
      %p 
        For the last century, films have played an important part in reconfiguring traditional notions of family and marriage; whilst at the same time, celebrating a diversity of sex and gender. As part of the First National Festival of LGBT History, the film circuit reflects upon the experiences of LGBT people, through the history of cinema; challenging heteronormativity and cultural under-representation. Through an exploration of people, their lives and their relationships, these films represent sexuality as unambiguously gay and unashamedly neither fixed nor conventional. The National Festival of LGBT History proudly promotes this intelligent, sensitive and humorous collection of films; as part of MMU’s cinema network ‘Seeing Queerly’ and hosted in a variety of Manchester’s finest venues.
    .medium-4.columns
      = inline_img("/images/gallery/oxford-road-cinema-1965.jpg")

%section.pink
  .row
    .medium-12.columns
      %h2 Other Events
  .row
    .medium-4.columns
      %h3 Theatre
      :markdown 
        Look out for the reimagining of a historic raid of a fancy dress ball in Hulme in September 1880! [Pagelight Productions](http://www.pagelightp.com/) will dramatise three key events of the night and show why this event made the international news. There will be Victorian fancy dresses, a police conspiracy and a court room hearing to rival Jeremy Kyle. Keep your ears open and your eyes peeled, this is going to be big! 
    .medium-4.columns
      %h3 Walks
      %p There will be walks throughout the city, uncovering Manchester's hidden LGBT past.
    .medium-4.columns
      %h3 Other Suprises
      %p More to be uncovered as we go on!
