---
title: Contribution Form
---

%section
  .row
    .large-12.columns
    :markdown
      ## Thankyou!
      
      Thanks for your contribution. We will be in touch within two weeks, although please note we won't be able to confirm talks till nearer the event. If you have any problems, please email [info@lgbthistoryfesival.org](info@lgbthistoryfestival.org).