---
title: Venues &amp Travel Information
---

%section
  .row
    .small-12.columns
      %h1 Venues &amp; Travel Information
  .row
    .medium-6.columns
      :markdown
        ### About Manchester
    .medium-6.columns
      :markdown
        ### Hotel Bookings

        We're please to announce you can now book a hotel directly through [Visit Manchester's special booking site for the festival!](https://resweb.passkey.com/go/LGBTHistoryFest15)

      %a{:href => "https://resweb.passkey.com/go/LGBTHistoryFest15", :class => "button"} Book a hotel

%section.pink
  .row
    .small-12.columns
      :markdown
        ## Main Venues

        All the festival venues are in central Manchester, within easy reach of public transport. If you're travelling from abroad, [Manchester has it's own airport](http://www.manchesterairport.co.uk/) which is a 15 minute train journey or approximately £18 taxi journey from Manchester Piccadilly. We recommend [traintimes.org.uk](http://traintimes.org.uk/) as the best route planning website.
  .row
    .medium-4.columns
      .vcard
        %h4.org Central Library
        %p
          %span.street-address St. Peters Square
          %span.locality Manchester 
          %span.postal-code M2 5PD
          %span.tel 0161 234 1983
        %p
          %a{:href => "http://www.manchester.gov.uk/centrallibrary"} manchester.gov.uk/centrallibrary
    .medium-4.columns
      .vcard
        %h4.org People's History Museum
        %p
          %span.street-address Left Bank, Spinningfields
          %span.locality Manchester
          %span.postal-code M3 3ER
          %span.tel 0161 838 9190
        %p
          %a{:href => "http://www.phm.org.uk/"} phm.org.uk
    .medium-4.columns
      .vcard
        %h4.org Lesbian &amp; Gay Foundation
        %p
          %span.street-address 5 Richmond St
          %span.locality Manchester
          %span.postal-code M1 3HF
          %span.tel 0845 330 3030
        %p
          %a{:href => "http://www.lgf.org.uk"} lgf.org.uk
  .row
    .small-12.columns
      <iframe src="https://www.google.com/maps/d/embed?mid=z2rcDaq52f60.ktlfFmmBVPfw" frameborder="0" style="border:0" width="100%" height="600"></iframe>

